* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
}
body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 960px;
  background: #1A1B1F;
  cursor: default;
  overflow: hidden;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.Container {
  margin: 90px auto;
  width: 960px;
}
.fb-like.fb_iframe_widget {
  margin-right: 5px;
}
.fb-like.fb_iframe_widget span {
  vertical-align: middle !important;
}
.twitter-share-button {
  vertical-align: middle;
  width: 96px !important;
}
.fb-like.fb_iframe_widget {
  margin-right: 5px;
}
.fb-like.fb_iframe_widget span {
  vertical-align: middle !important;
}
.twitter-share-button {
  vertical-align: middle;
  width: 96px !important;
}
.Header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  overflow: hidden;
  z-index: 2;
  height: 90px;
  line-height: 90px;
  min-width: 960px;
  padding: 14px 20px 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  background-color: #ed795d;
  color: white;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}
.Header-title {
  line-height: 1.2;
}
.Header-tagline {
  opacity: 0.85;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
}
.Footer {
  position: fixed;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 60px;
  line-height: 60px;
  min-width: 960px;
  padding: 0 20px;
  -webkit-box-shadow: 0 -1px 0 #000000;
  -moz-box-shadow: 0 -1px 0 #000000;
  box-shadow: 0 -1px 0 #000000;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: #9E9E9E;
  font-size: 14px;
}
.Footer-bottomText {
  float: right;
}
.Footer-dotSeparator {
  margin: 0 3px;
  color: #b6b0ab;
  font-weight: 300;
}
.Footer-authorLink {
  color: #9E9E9E;
  font-weight: 300;
  text-decoration: none;
}
.Footer-authorLink:hover {
  text-decoration: underline;
}
.KeyanoInstrument {
  height: 100%;
}
.KeyanoInstrument:before,
.KeyanoInstrument:after {
  content: " ";
  display: table;
}
.KeyanoInstrument:after {
  clear: both;
}
.KeyanoInstrument-octaveGroup {
  float: left;
  position: relative;
}
.KeyanoInstrument-octaveGroup:before,
.KeyanoInstrument-octaveGroup:after {
  content: " ";
  display: table;
}
.KeyanoInstrument-octaveGroup:after {
  clear: both;
}
.KeyanoInstrument-octaveGroupWhiteKeys {
  z-index: 1;
}
.KeyanoInstrument-octaveGroupWhiteKeys:before,
.KeyanoInstrument-octaveGroupWhiteKeys:after {
  content: " ";
  display: table;
}
.KeyanoInstrument-octaveGroupWhiteKeys:after {
  clear: both;
}
.KeyanoInstrument-octaveGroupBlackKeys {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.KeyanoInstrument-key {
  float: left;
  position: relative;
  -webkit-border-radius: 0 0 5px 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 5px 5px;
  -moz-background-clip: padding;
  border-radius: 0 0 5px 5px;
  background-clip: padding-box;
  border-style: solid;
  text-align: center;
}
.KeyanoInstrument-key.is-depressed {
  background: #5dbced !important;
  color: white !important;
}
.KeyanoInstrument-keyLabel {
  bottom: 30px;
  font-weight: bold;
  left: 0;
  line-height: 30px;
  position: absolute;
  right: 0;
}
.KeyanoInstrument-whiteKey {
  height: 400px;
  width: 80px;
  -webkit-box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.35), inset 2px 0 1px rgba(0, 0, 0, 0.25), inset -2px 0 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.35), inset 2px 0 1px rgba(0, 0, 0, 0.25), inset -2px 0 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.35), inset 2px 0 1px rgba(0, 0, 0, 0.25), inset -2px 0 1px rgba(0, 0, 0, 0.25);
  background: linear-gradient(-20deg, #ffffff, #f2f2f2, #ffffff);
  border: 1px solid #282525;
  border-top: 0;
}
.KeyanoInstrument-blackKeyWrapper {
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
  float: left;
  height: 60%;
  padding: 0 12px;
}
.KeyanoInstrument-blackKey {
  float: left;
  z-index: 5;
  height: 100%;
  width: 56px;
  -webkit-box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
  background: linear-gradient(-20deg, #333333, #000000, #333333);
  border-width: 0 4px 15px;
  border-color: transparent rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.03) rgba(255, 255, 255, 0.2);
  color: white;
}
.KeyanoInstrument-blackKeySpacer {
  float: left;
  z-index: 5;
  height: 100%;
  width: 56px;
  -webkit-box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
  background: linear-gradient(-20deg, #333333, #000000, #333333);
  border-color: transparent rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.03) rgba(255, 255, 255, 0.2);
  border-width: 0 4px 15px;
  opacity: 0;
  color: white;
  pointer-events: none;
}
.KeyCombinationNameLabel {
  color: white;
  font-size: 40px;
  margin-top: 40px;
  text-align: center;
  text-shadow: 0 1px 2px black;
}
.KeyCombinationNameLabel.is-unknown {
  opacity: 0.35;
}
