.slider.slider-vertical {
  height: 100px;
}
.slider-selection {
  background: #D3D4D5;
}
.slider-track {
  background: #ed795d;
}
.slider-handle {
  background: rgba(0, 0, 0, 0.9);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
}
body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 960px;
  background: #1a1b1f;
  cursor: default;
  overflow: hidden;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.Container {
  margin: 90px auto;
  width: 960px;
}
.fb-like.fb_iframe_widget {
  margin-right: 5px;
}
.fb-like.fb_iframe_widget span {
  vertical-align: middle !important;
}
.twitter-share-button {
  vertical-align: middle;
  width: 96px !important;
}
.Header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 4;
  height: 90px;
  line-height: 90px;
  min-width: 960px;
  padding: 14px 20px 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  background-color: #ed795d;
  color: white;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}
.Header .Container {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}
.Header-title {
  line-height: 1.2;
}
.Header-tagline {
  opacity: 0.85;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
}
.Header-dropdown {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  margin-top: -14px;
  text-align: center;
}
.Header-dropdownTrigger {
  display: block;
  height: 90px;
  padding-left: 5px;
  width: 80px;
  line-height: 90px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
.Header-dropdownTrigger:hover {
  background: rgba(255, 255, 255, 0.1);
}
.open > .Header-dropdownTrigger {
  background: rgba(255, 255, 255, 0.2);
}
.Header-dropdownTriggerCaret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  opacity: 0.6;
}
.Header-dropdownMenu {
  display: none;
}
.open > .Header-dropdownMenu {
  display: block;
  margin-top: 1px;
  padding: 15px;
  -webkit-border-radius: 0 0 3px 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 3px 3px;
  -moz-background-clip: padding;
  border-radius: 0 0 3px 3px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.9);
}
.Header-dropdownMenuLabel {
  color: #80858A;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
}
.Header-dropdownMenu > .slider {
  margin: 20px 0;
}
.Footer {
  position: fixed;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  height: 60px;
  line-height: 60px;
  min-width: 960px;
  padding: 0 20px;
  -webkit-box-shadow: 0 -1px 0 #000000;
  -moz-box-shadow: 0 -1px 0 #000000;
  box-shadow: 0 -1px 0 #000000;
  background: #1a1b1f;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: #9E9E9E;
  font-size: 14px;
}
.Footer-bottomText {
  float: right;
  white-space: nowrap;
}
.Footer-dotSeparator {
  margin: 0 3px;
  color: #b6b0ab;
  font-weight: 300;
}
.Footer-authorLink {
  color: #9E9E9E;
  font-weight: 300;
  text-decoration: none;
}
.Footer-authorLink:hover {
  text-decoration: underline;
}
.KeyanoInstrument {
  display: none;
  height: 100%;
}
.KeyanoInstrument:before,
.KeyanoInstrument:after {
  content: " ";
  display: table;
}
.KeyanoInstrument:after {
  clear: both;
}
.KeyanoInstrument-keyboard {
  float: left;
  position: relative;
}
.KeyanoInstrument-keyboard:before,
.KeyanoInstrument-keyboard:after {
  content: " ";
  display: table;
}
.KeyanoInstrument-keyboard:after {
  clear: both;
}
.KeyanoInstrument-whiteKeys {
  z-index: 1;
}
.KeyanoInstrument-whiteKeys:before,
.KeyanoInstrument-whiteKeys:after {
  content: " ";
  display: table;
}
.KeyanoInstrument-whiteKeys:after {
  clear: both;
}
.KeyanoInstrument-blackKeys {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.KeyanoInstrument-key {
  float: left;
  position: relative;
  -webkit-border-radius: 0 0 5px 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 5px 5px;
  -moz-background-clip: padding;
  border-radius: 0 0 5px 5px;
  background-clip: padding-box;
  border-style: solid;
  text-align: center;
}
.KeyanoInstrument-key.is-depressed {
  background: #5dbced !important;
  color: white !important;
}
.KeyanoInstrument-key.is-depressed > .KeyanoInstrument-keyNameLabel {
  color: #147fb6;
}
.KeyanoInstrument-keyLabel {
  bottom: 40px;
  left: 0;
  position: absolute;
  right: 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}
.KeyanoInstrument-keyNameLabel {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 24px;
  left: 50%;
  position: absolute;
  color: #c0c0c0;
  font-size: 13px;
  font-weight: 300;
}
.KeyanoInstrument-whiteKey {
  height: 400px;
  width: 80px;
  -webkit-box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.35), inset 2px 0 1px rgba(0, 0, 0, 0.25), inset -2px 0 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.35), inset 2px 0 1px rgba(0, 0, 0, 0.25), inset -2px 0 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.35), inset 2px 0 1px rgba(0, 0, 0, 0.25), inset -2px 0 1px rgba(0, 0, 0, 0.25);
  background: linear-gradient(-20deg, #ffffff, #f2f2f2, #ffffff);
  border: 1px solid #282525;
  border-top: 0;
}
.KeyanoInstrument-blackKeyWrapper {
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
  float: left;
  height: 60%;
  padding: 0 12px;
}
.KeyanoInstrument-blackKey {
  float: left;
  z-index: 5;
  height: 100%;
  width: 56px;
  -webkit-box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
  background: linear-gradient(-20deg, #333333, #000000, #333333);
  border-width: 0 4px 15px;
  border-color: transparent rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.03) rgba(255, 255, 255, 0.2);
  color: white;
}
.KeyanoInstrument-blackKeySpacer {
  float: left;
  z-index: 5;
  height: 100%;
  width: 56px;
  -webkit-box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
  background: linear-gradient(-20deg, #333333, #000000, #333333);
  border-color: transparent rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.03) rgba(255, 255, 255, 0.2);
  border-width: 0 4px 15px;
  opacity: 0;
  color: white;
  pointer-events: none;
}
.KeyanoInstrument-blackKeyNameLabel {
  color: #848484;
}
.KeyCombinationNameLabel {
  color: white;
  font-size: 40px;
  margin-top: 40px;
  text-align: center;
  text-shadow: 0 1px 2px black;
}
.KeyCombinationNameLabel.is-unknown {
  opacity: 0.35;
}
.KeyboardShiftButton {
  height: 60px;
  line-height: 60px;
  margin-top: 35px;
  width: 90px;
  -webkit-border-radius: 60px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 60px;
  -moz-background-clip: padding;
  border-radius: 60px;
  background-clip: padding-box;
  -webkit-transition: border 0.05s, background 0.05s, color 0.05s;
  -moz-transition: border 0.05s, background 0.05s, color 0.05s;
  -o-transition: border 0.05s, background 0.05s, color 0.05s;
  transition: border 0.05s, background 0.05s, color 0.05s;
  border: 1px solid #333;
  color: #666;
  font-size: 50px;
  font-weight: bold;
  line-height: 57px;
  text-align: center;
  cursor: pointer;
}
.KeyboardShiftButton:hover {
  background: #5dbced;
  border-color: #5dbced;
  color: white;
}
.KeyboardShiftButton:active {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}
.KeyboardShiftButton--selected {
  background: #5dbced;
  border-color: #5dbced;
  color: white;
}
.KeyboardShiftButton-leftButton {
  float: left;
}
.KeyboardShiftButton-rightButton {
  float: right;
}
.qtip.qtip-default.KeyboardShiftButton-tooltip {
  height: 40px;
  line-height: 40px;
  max-width: none;
  min-width: 0;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.qtip.qtip-default.KeyboardShiftButton-tooltip .qtip-content {
  padding: 0 15px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  text-transform: uppercase;
}
.KeyboardShiftButton-tooltipMain {
  display: inline-block;
}
.KeyboardShiftButton-tooltipSecondary {
  display: inline-block;
  color: rgba(0, 0, 0, 0.3);
  font-size: 13px;
}
@-webkit-keyframes dotOneKeyframes {
  0% {
    top: 0;
    left: 0;
  }
  8.3333333333% {
    top: 20px;
    left: 0;
  }
  25% {
    top: 20px;
    left: 0;
  }
  33.3333333333% {
    top: 20px;
    left: 20px;
  }
  50% {
    top: 20px;
    left: 20px;
  }
  58.3333333333% {
    top: 0;
    left: 20px;
  }
  75% {
    top: 0;
    left: 20px;
  }
  83.3333333333% {
    top: 0;
    left: 0;
  }
}
@-webkit-keyframes dotTwoKeyframes {
  0% {
    top: 0;
    left: 20px;
  }
  8.3333333333% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 0;
  }
  33.3333333333% {
    top: 20px;
    left: 0;
  }
  50% {
    top: 20px;
    left: 0;
  }
  58.3333333333% {
    top: 20px;
    left: 20px;
  }
  75% {
    top: 20px;
    left: 20px;
  }
  83.3333333333% {
    top: 0;
    left: 20px;
  }
}
@-webkit-keyframes dotThreeKeyframes {
  0% {
    top: 20px;
    left: 20px;
  }
  8.3333333333% {
    top: 0;
    left: 20px;
  }
  25% {
    top: 0;
    left: 20px;
  }
  33.3333333333% {
    top: 0;
    left: 0;
  }
  50% {
    top: 0;
    left: 0;
  }
  58.3333333333% {
    top: 20px;
    left: 0;
  }
  75% {
    top: 20px;
    left: 0;
  }
  83.3333333333% {
    top: 20px;
    left: 20px;
  }
}
@-moz-keyframes dotOneKeyframes {
  0% {
    top: 0;
    left: 0;
  }
  8.3333333333% {
    top: 20px;
    left: 0;
  }
  25% {
    top: 20px;
    left: 0;
  }
  33.3333333333% {
    top: 20px;
    left: 20px;
  }
  50% {
    top: 20px;
    left: 20px;
  }
  58.3333333333% {
    top: 0;
    left: 20px;
  }
  75% {
    top: 0;
    left: 20px;
  }
  83.3333333333% {
    top: 0;
    left: 0;
  }
}
@-moz-keyframes dotTwoKeyframes {
  0% {
    top: 0;
    left: 20px;
  }
  8.3333333333% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 0;
  }
  33.3333333333% {
    top: 20px;
    left: 0;
  }
  50% {
    top: 20px;
    left: 0;
  }
  58.3333333333% {
    top: 20px;
    left: 20px;
  }
  75% {
    top: 20px;
    left: 20px;
  }
  83.3333333333% {
    top: 0;
    left: 20px;
  }
}
@-moz-keyframes dotThreeKeyframes {
  0% {
    top: 20px;
    left: 20px;
  }
  8.3333333333% {
    top: 0;
    left: 20px;
  }
  25% {
    top: 0;
    left: 20px;
  }
  33.3333333333% {
    top: 0;
    left: 0;
  }
  50% {
    top: 0;
    left: 0;
  }
  58.3333333333% {
    top: 20px;
    left: 0;
  }
  75% {
    top: 20px;
    left: 0;
  }
  83.3333333333% {
    top: 20px;
    left: 20px;
  }
}
@keyframes dotOneKeyframes {
  0% {
    top: 0;
    left: 0;
  }
  8.3333333333% {
    top: 20px;
    left: 0;
  }
  25% {
    top: 20px;
    left: 0;
  }
  33.3333333333% {
    top: 20px;
    left: 20px;
  }
  50% {
    top: 20px;
    left: 20px;
  }
  58.3333333333% {
    top: 0;
    left: 20px;
  }
  75% {
    top: 0;
    left: 20px;
  }
  83.3333333333% {
    top: 0;
    left: 0;
  }
}
@keyframes dotTwoKeyframes {
  0% {
    top: 0;
    left: 20px;
  }
  8.3333333333% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 0;
  }
  33.3333333333% {
    top: 20px;
    left: 0;
  }
  50% {
    top: 20px;
    left: 0;
  }
  58.3333333333% {
    top: 20px;
    left: 20px;
  }
  75% {
    top: 20px;
    left: 20px;
  }
  83.3333333333% {
    top: 0;
    left: 20px;
  }
}
@keyframes dotThreeKeyframes {
  0% {
    top: 20px;
    left: 20px;
  }
  8.3333333333% {
    top: 0;
    left: 20px;
  }
  25% {
    top: 0;
    left: 20px;
  }
  33.3333333333% {
    top: 0;
    left: 0;
  }
  50% {
    top: 0;
    left: 0;
  }
  58.3333333333% {
    top: 20px;
    left: 0;
  }
  75% {
    top: 20px;
    left: 0;
  }
  83.3333333333% {
    top: 20px;
    left: 20px;
  }
}
@-webkit-keyframes fadeUpKeyframes {
  0% {
    margin-top: 25px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}
.LoadingSpinner {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: fadeUpKeyframes 0.5s ease;
  -moz-animation: fadeUpKeyframes 0.5s ease;
  -o-animation: fadeUpKeyframes 0.5s ease;
  animation: fadeUpKeyframes 0.5s ease;
}
.LoadingSpinner-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: #1a1b1f;
  opacity: 1;
  visibility: visible;
}
.LoadingSpinner-overlay--hidden {
  margin-top: 25px;
  opacity: 0;
  visibiltiy: hidden;
  -webkit-transition: margin 0.5s 0s ease, opacity 0.5s 0s ease, visibility 0 0.5s;
  -moz-transition: margin 0.5s 0s ease, opacity 0.5s 0s ease, visibility 0 0.5s;
  -o-transition: margin 0.5s 0s ease, opacity 0.5s 0s ease, visibility 0 0.5s;
  transition: margin 0.5s 0s ease, opacity 0.5s 0s ease, visibility 0 0.5s;
  pointer-events: none;
}
.LoadingSpinner-dot {
  height: 10px;
  width: 10px;
  -webkit-border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100%;
  -moz-background-clip: padding;
  border-radius: 100%;
  background-clip: padding-box;
  background: rgba(255, 255, 255, 0.5);
}
.LoadingSpinner-dotOne {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: dotOneKeyframes 5s ease infinite;
  -moz-animation: dotOneKeyframes 5s ease infinite;
  -o-animation: dotOneKeyframes 5s ease infinite;
  animation: dotOneKeyframes 5s ease infinite;
}
.LoadingSpinner-dotTwo {
  position: absolute;
  top: 0;
  left: 20px;
  -webkit-animation: dotTwoKeyframes 5s ease 0.4166666666666s infinite;
  -moz-animation: dotTwoKeyframes 5s ease 0.4166666666666s infinite;
  -o-animation: dotTwoKeyframes 5s ease 0.4166666666666s infinite;
  animation: dotTwoKeyframes 5s ease 0.4166666666666s infinite;
}
.LoadingSpinner-dotThree {
  position: absolute;
  top: 20px;
  left: 20px;
  -webkit-animation: dotThreeKeyframes 5s ease 0.83333333333s infinite;
  -moz-animation: dotThreeKeyframes 5s ease 0.83333333333s infinite;
  -o-animation: dotThreeKeyframes 5s ease 0.83333333333s infinite;
  animation: dotThreeKeyframes 5s ease 0.83333333333s infinite;
}
.FailureMessage {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(255, 255, 255, 0.5);
  font-size: 28px;
  text-align: center;
  white-space: nowrap;
  -webkit-animation: fadeUpKeyframes 0.5s ease;
  -moz-animation: fadeUpKeyframes 0.5s ease;
  -o-animation: fadeUpKeyframes 0.5s ease;
  animation: fadeUpKeyframes 0.5s ease;
}
.FailureMessage-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
  background: #1a1b1f;
  opacity: 1;
  visibility: visible;
}
.FailureMessage-primary {
  color: white;
}
.FailureMessage-secondary {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 300;
}
