//
// base.less
// =========
// A set of styles that give the page its basic visual structure.
//


// Reset
// =====

* {
  .box-sizing(border-box);
  .user-select(none);
  margin     : 0;
  padding    : 0;
}


// Styles
// ======

body {

  // Position
  .absolute-fill();

  // Style
  background : #1A1B1F;
  cursor     : default;
  overflow   : hidden;

  // Text
  .default-font();
}

.panels {
  .absolute-fill();
  top     : @header-primary-height;
  right   : 0;
  bottom  : @footer-height;
  left    : 0;
  z-index : @z-index-of-panels;
}

.container {
  margin : 0 auto;
  width  : @container-width-on-desktop;
}

.ChordLabel {
  color       : white;
  font-size   : 40px;
  margin-top  : 40px;
  text-align  : center;
  text-shadow : 0 1px 2px black;

  &.is-unknown {
    opacity : 0.35;
  }
}
