

// Styles
// ======

// Facebook 'Like' Button
// ======================

.fb-like.fb_iframe_widget {
  margin-right : 5px;

  span {
    // Ugh, Facebook programmatically resets this to bottom, so we have to fight fire with fire (hence the !important).
    vertical-align : middle !important;
  }
}


// Twitter 'Share' Button
// ======================

.twitter-share-button {
  vertical-align : middle;
  width          : 96px !important; // Need to override inline styling.
}

